.comment-box {
  display: flex;
  flex-direction: column;
}

.comment-li {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 15px;
}

.comment-text {
  width: 60%;
}

.comment-name {
  width: 70%;
}

.comment-name span {
  font-size: 18px;
}

.comment-body {
  box-sizing: border-box;

  width: 70%;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.comment-body span {
  padding: 5px;
}

.comment-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-data {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.comment-textarea {
  width: 60%
}

.comment-textarea #description {
  width: 70%
}
