.home-nav-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.home-nav a {
  width: 175px;
  font-size: 20px;
  text-align: center;
}

.home-nav-dashboard {
  height: 100%;
  display: flex;
  align-items: center;
}

.home-nav-feed {
  height: 100%;
  display: flex;
  align-items: center;
}

.home-nav-feed:hover {
  background-color: $route;
}

.home-nav-dashboard:hover {
  background-color: $workout;
}

.activity-feed {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.feed-hike {
  margin: 20px;
  width: 80%;
  border: 5px solid $route;
  padding: 10px;
  border-radius: 30px;
  background-color: white;
}

.feed-workout {
  margin: 20px;
  background-color: white;
  width: 80%;
  border: 5px solid $workout;
  padding: 10px;
  border-radius: 30px;
}

.feed-title {
  margin: 5px;
}

.feed-title span {
  font-size: 22px;
}

.feed-route-content {
  display: flex;
  flex-direction: row;
}

.feed-static-image {
  flex: 1;
  padding: 5px;
  border: 1px solid $light-grey;
  display: flex;
  justify-content: center;
  border-radius: 15px;
}

.feed-static-image img:hover {
  box-shadow: 1px 1px 10px grey;
}

.feed-route-data {
  flex: 4;
  margin: 10px;
  padding: 5px;
}

.feed-route-data li {
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  box-sizing: border-box;
}

.comment-box {
  display: flex;
  flex-direction: column;
}

.create-comment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.comment-text {
  width: 60%;
}

.comment-data {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.comment-text #description {
  width: 100%;
  justify-content: flex-end;
}

.comment-button {
  display: flex;
  justify-content: center;
}

.comment-name {
  display: flex;
}

.comment-body {
  display: flex;
  justify-content: flex-end;
}

.comment-textarea {
  width: 60%
}

.comment-textarea textarea {
  width: 70%
}
