.index-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: scroll;
}
.index-left {
  flex: 1;
  margin: 50px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  justify-content: center;
}

.index-ul {
  display: flex;
  margin: 20px;
  flex-wrap: wrap;
}

.index-left button {
  width: 80%
}

.index-detail {
  flex: 3;
}

.index-items {
  padding: 10px;
}

.index-items img {
  width: 100%;
}

.index-items img:hover {
  box-shadow: 1px 1px 10px grey;
}

.unclickable {
  display: none;
}
