.index-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: scroll;
  justify-content: center;
}

.index-ul {
  display: flex;
  margin: 20px;
  margin-top: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.top-bar button {
  width: 20%
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
  align-items: center;
  border-bottom: 2px solid black;
}

.top-bar h2 {
  font-size: 30px;
}

.index-items {
  padding: 10px;
}

.index-items img {
  width: 100%;
}

.index-items img:hover {
  box-shadow: 1px 1px 10px grey;
}
