.hike-form-container {
  width: 100%;
  display: flex;
}

.form-input-div {
  display: flex;
  flex-direction: column;
}

.hike-form {
  padding: 20px;
  margin: 20px;
}

.form-content {
  flex: 1;
}

.form-content {
  flex: 3;
}

.error-text {
  color: red;
  font-size: 14px;
}
