.nav-bar-container {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: $off-white;
}

.nav-bar-right {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  align-items: center;
  margin: 20px;
}

.nav-bar-right button {
  margin: 10px;
  height: 50px;
  width: auto;
  padding: 0px 10px;
}

.nav-bar-left {
  font-size: 35px;
  display: flex;
  align-items: center;
}

#thmbnail {
  height: 80px;
}

.links-small {
  padding: 10px;
  font-size: 20px;
  margin: auto 10px;
}

.links-small:hover {
  text-decoration: underline;
}

.nav-drop {
  position: absolute;
  display: none;
  top: 70px;
  background-color: $light-grey;
  width: 80%;
}
.nav-drop li {
  margin: 5px auto;
  padding: 2px 10px;
  font-size: 16px;
}
.nav-drop li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.nav-bar-right:hover .nav-drop {
  display: block;
}
