input, textarea, select {
  border: 1px solid black;
  border-radius: 5px;
  font-size: 14px;
  line-height: 40px;
  margin: 15px 0;
  padding: 0 5px;
  font-family: inherit;
  background: white;
  box-sizing: border-box;
  opacity: 1.0;
}

button, input[type="submit"] {
  height: auto;
  // width: 90%;
  border: 1px solid black;
  border-radius: 5px;
  background-color: $button;
  padding: 10px;
  margin: 10px;
  font-size: auto;
  text-align: center;
}

button:hover {
  background-color: $button-hover
}

label {
  font-size: 20px;
}
