.splash {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  background: url("http://res.cloudinary.com/dggj2pmde/image/upload/v1484542331/bike_splash_nvtice.jpg") no-repeat center center scroll;
  background-size: cover;
}

.form-container a:hover {
  text-decoration: underline;
}

.error-text {
  color: red;
}

.form-container {
   border: 1px solid black;
   display: flex;
   justify-content: center;
   width: 400px;
   min-height: 300px;
   padding: 50px 50px;
   margin: 100px auto;
   flex-direction: column;
   background: rgba(0, 0, 0, 0.8);
   color: white;
   font-size: 20px;
 }

 .form-container button {
   background: $button;
   opacity: 0.8;
 }

 .form-container button:hover {
   opacity: 1.0;
 }

 .form-box {
   margin: 10px 10px;
   display: flex;
   flex-direction: column;
   text-align: center;
   font-size: 24px;
 }

 .form-box input {
   color: black;
   font-size: 16px;
   opacity: 1.0;
 }

 .form-switch{
   margin: 10px 10px;
   text-align: center;
 }

 .splash-home {
   font-size: 70px;
   font-weight: 700;
   display: flex;
   justify-content: center;
   margin-top: 60px;
   color: white;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 }

 .guest {
   text-align: center;
 }

 .zip-image {
   display: flex;
   flex-direction: column;
   justify-content: center;
 }
